@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Universidade PPX</h1>
    <p>A maior faculdade da América Latina!</p>
    <div>
        <img src="/img/learning.png">
    </div>
</div>
